services:
  db-analyzer:
    image: postgres:16.1
    container_name: analyzer-db
    ports:
      - "6432:5432"
    environment:
      - POSTGRES_DB=scenario-db
      - POSTGRES_PASSWORD=analyzer
      - POSTGRES_USER=analyzer

  db-postgres:
    image: postgres:16.1
    container_name: db-postgres
    hostname: postgres
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_DB=commerce_shopping_store
      - POSTGRES_PASSWORD=shopping
      - POSTGRES_USER=postgres
    healthcheck:
      test: pg_isready -q -d $$POSTGRES_DB -U POSTGRES_USER
      timeout: 5s
      interval: 5s
      retries: 10


  postgres-init:
    image: postgres:16.1
    container_name: postgres-init
    depends_on:
      db-postgres:
        condition: service_healthy

    entrypoint:
      - bash
      - -c
      - |
        set -e
        psql postgresql://postgres:shopping@postgres:5432 -v ON_ERROR_STOP=1 <<-EOSQL
        
        create database commerce_shopping_cart;
        create database commerce_shopping_warehouse;
        EOSQL


  kafka:
    image: confluentinc/confluent-local:latest
    hostname: kafka
    container_name: kafka
    ports:
      - "9092:9092" # for client connections
      - "9101:9101" # JMX
    restart: unless-stopped
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_ADVERTISED_LISTENERS: 'PLAINTEXT://kafka:29092,PLAINTEXT_HOST://localhost:9092'
      KAFKA_JMX_PORT: 9101
      KAFKA_JMX_HOSTNAME: localhost
      KAFKA_PROCESS_ROLES: 'broker,controller'
      KAFKA_CONTROLLER_QUORUM_VOTERS: '1@kafka:29093'
      KAFKA_LISTENERS: 'PLAINTEXT://kafka:29092,CONTROLLER://kafka:29093,PLAINTEXT_HOST://0.0.0.0:9092'
      CLUSTER_ID: 'K0EA9p0yEe6MkAAAAkKsEg'

  kafka-init-topics:
    image: confluentinc/confluent-local:latest
    container_name: kafka-init-topics
    depends_on:
      - kafka
    command: "bash -c \
                'kafka-topics --create --topic telemetry.sensors.v1 \
                             --partitions 1 --replication-factor 1 --if-not-exists \
                             --bootstrap-server kafka:29092 && \
                kafka-topics --create --topic telemetry.snapshots.v1 \
                             --partitions 1 --replication-factor 1 --if-not-exists \
                             --bootstrap-server kafka:29092 && \
                kafka-topics --create --topic telemetry.hubs.v1 \
                             --partitions 1 --replication-factor 1 --if-not-exists \
                             --bootstrap-server kafka:29092'"
    init: true